services:
  app:
    container_name: vue-dev-env
    build:
      context: .
      dockerfile: .docker/dev/Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true